@import "./Assets/styles/tailwind.css";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0.313rem 1.5rem;
  color: white;
}

.nav {
  transition: transform 150ms ease-in-out;
}

.nav-bar--hidden {
  transform: translateY(-100%);
  transition: transform 150ms ease-in-out;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-repeat: no-repeat;
}

.preloader-none {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.logo {
  background-position: center;
  opacity: 0;
  animation: fade 3s ease-in-out forwards;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  40%,
  50%,
  60%,
  70% {
    opacity: 1;
  }
}

.underline-link {
  position: relative;
  display: inline-block;
}

.underline-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(241 245 249);
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.underline-link:focus:after,
.underline-link:hover:after {
  height: 1px;
  border-radius: 4px;
  opacity: 1;
  transform: translateY(-2px);
}

.shadow-large {
  box-shadow: -10px 0px 30px -15px rgb(2, 12, 27);
}
